Repository fga-eps-mds/2022-2-FGAtlas, pull requests merged in 2023-01, with the labels that each got.

#84 Criar a documentação do Backend
  Backend/.gitignore
  Backend/swagger.json
Labels: documentation, Backend

#88 Finalizando testes e corrigindo bug do scrapper
  Backend/jest.config.json
  Backend/package-lock.json
  Backend/package.json
  Backend/src/controllers/buildingController.ts
  Backend/src/controllers/classController.ts
  Backend/src/routes/apiRoute.ts
  Backend/src/scripts/scrapping.ts
  Backend/tests/ScraperTest/Scraper.test.ts
Labels: bug, Backend

#92 Retirar bug dos testes de Scrapper
  Backend/tests/ScraperTest/Scraper.test.ts
Labels: bug, Backend

#99 Extend scrapper
  Backend/package.json
  Backend/src/controllers/roomController.ts
  Backend/src/controllers/subjectController.ts
  Backend/src/scripts/scrapping.ts
  Backend/src/services/roomService.ts
  Backend/src/services/subjectService.ts
Labels: Backend
